@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    cursor: url('../img/cursor\ \(5\).cur'), auto;
}
sup{
    font-size: 0.6em;
}
.row{
    margin: 0 -14px;
    font-size: 0;
}
.column{
    display: inline-block;
    margin: 0 14px;
    width: 219px;
    vertical-align: middle;
}
.wrapper{
    margin: 0 auto;
    max-width: 960px;
}
.clear:after{
    content: "";
    display: block;
    clear: both;
}
.top-line{
    padding: 15.5px 0;
    background-color: #1f1f56;
}
.top-line ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
    font-size: 0;
}
.top-line li{
    display: inline-block;
}
.top-line a{
    color: #b1b1d2;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    text-decoration: none;
}
.main-menu{
    float: left;
}
.main-menu li{
    margin-right: 30px;
}
.main-menu a:hover{
    color:  #fd8300;
}
.social{
    float: right;
}
.social li{
    margin-left: 25px;
}
.social a{
    display: inline-block;
    background-image: url(../img/social-sprite.png);
    background-repeat: no-repeat;
}
.fb{
    width: 10px;
    height: 19px;
    background-position: 0 -21px;
}
.fb:hover{
    background-position: 0 0;
}
.tw{
    width: 18px;
    height: 15px;
    background-position: -12px -21px;
}
.tw:hover{
    background-position: -13px 0;
}
.in{
    width: 19px;
    height: 19px;
    background-position: -34px -21px;
}
.in:hover{
    background-position: -34px 0;
}
.head-line{
    padding: 30px 0;
}
.phone-number a{
    color: #25252c;
    font: bold 18px/24px Arial;
    text-decoration: none;
}
.phone-number a:hover{
    text-decoration: underline;
}
.mail{
    color: #25252c;
    font: 16px/24px Arial;
    text-decoration: none;
}
.mail:hover,
.skype:hover{
    text-decoration: underline;
}
.button_call{
    text-align: right;
}
.button_call a{
    padding: 16px 30px;
    color: #25252c;
    font: bold 16px Arial;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid #fd8300;
}
.button_call a:hover{
    text-decoration: underline;
    background-color: #ededf5;
}
.phone-number,
.contacts{
    position: relative;
}
.phone-number p,
.contacts p{
    padding-left: 45px;
}
.phone:before,
.mail:before,
.skype:before{
    content: "";
    background: url(../img/contacts.png) no-repeat;
    position: absolute;
    left: 17px;
}
.phone:before{
    width: 16px;
    height: 17px;
    top: 2px;
    background-position: 0 0;
}
.vertical-line:before{
    content: "";
    position: absolute;
    width: 1px;
    height: 51px;
    top: 0;
    left: -14px;
    background-color: #e4e4ec;
}
.mail:before{
    width: 17px;
    height: 13px;
    top: 2px;
    background-position: -20px 0;
}
.skype:before{
    width: 18px;
    height: 19px;
    top: 25px;
    background-position: -42px 0;
}
.skype{
    margin: 0;
    color: #25252c;
    font: 16px/24px Arial;
    text-decoration: none;
}
.fon{
    margin-bottom: 30px;
    padding: 60px 0 40px;
    background-image: url(../img/main-bg.jpg);
    background-size: cover;
}
.fon p{
    margin: 10px 0;
    text-align: center;
}
.fon-heading{
    color: #fff;
    font: 700 30px/30px "Roboto Slab";
    letter-spacing: 2px;
    text-transform: uppercase;
}
.supply{
    color: #fff;
    font: 14px/24px Arial;
}
.price{
    color: #fd8300;
    font: bold 24px/50px Arial;
}
.price span{
    font-size: 40px;
}
h1{
    margin-top: 0;
    color: #24242b;
    font: 700 30px "Roboto Slab";
}
.main-text{
    position: relative;
    padding-bottom: 30px;
    max-width: 713px;
}
.main-text p:after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #e4e4ec;
}
.main-text p{
    color: #666;
    font: 14px/24px Arial;
}
.main-text a{
    color: #fd8300;
    font-weight: bold;
}
.main-text a:hover{
    text-decoration: none;
}
.popular_projects{
    padding-top: 30px;
}
h2{
    color: #24242b;
    font: 700 24px/24px "Roboto Slab";
}
figure{
    margin: 0;
}
figcaption a{
    color: #1f1f56;
    font: bold 14px/24px Arial;
    text-decoration: none;
    text-transform: uppercase;
}
figcaption a:hover{
    text-decoration: underline;
}
figure p{
    margin: 0;
    color: #9999a6;
    font: 13px/18px Arial;
}
.menu{
    float: right;
}
.menu p{
    margin: 0;
    padding: 10px 15px;
    color: #fff;
    font: 700 16px/24px "Roboto Slab";
    background-color: #1f1f56;
    border-radius: 3px 3px 0 0;    
}
.menu ul{
    margin: 0;
    padding-left: 0;
    list-style: none;    
}
.aside-menu > li > a{
    position: relative;
    border-top: 1px solid #cdcddd;
}
.menu a{
    display: block;
    padding: 15px;
    color: #25252c;
    font-size: 14px;
    text-decoration: none;
    background-color: #e4e4ec;
}
.aside-menu > li > a::before{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    right: 14px;
    top: 20px;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    transform: rotate(-45deg);
}
.aside-menu > li:hover  > a::before{
    content: "";
    position: absolute;
    right: 12px;
    top: 16px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(45deg);
}
.last_point,
.aside-menu .last_point:hover > a{
    border-radius: 0 0 3px 3px;
}
.aside-menu > li:hover > a{
    color: #fff;
    font-size: 14px;
    background-color: #fd8300;
}
.menu_two{
    display: none;
}
.aside-menu li:hover .menu_two{
    display: block;
}
.menu_two a{
    padding-left: 30px;
    color: #666;
    font: 14px/24px Arial;
}
.menu_two a:hover{
    background-color: #cecedd;
}
.sections{
    float: left;
    padding-bottom: 45px;
}
.menu .column{
    display: block;
}
.footer-line{
    padding: 40px 0 28px;
    background-color: #ededf5;
}
.footer-line .column{
    vertical-align: top;
}
.bottom-menu{
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.bottom-menu a{
    color: #666;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
}
.bottom-menu a:hover{
    color: #fd8300;
    text-decoration: underline;
}

.footer-line .phone-number p,
.footer-line .contacts p{
    padding-left: 28px;
}
.footer-line .phone-number,
.footer-line .contacts{
    position: relative;
}
.footer-line .phone:before,
.footer-line .mail:before,
.footer-line .skype:before{
    content: "";
    position: absolute;
    left: 0;
}
.bottom-line{
    padding: 13px 0;
    background-color: #dcdce6;
}
.bottom-line p{
    margin: 0;
    color: #9999a6;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
}
/* price.html */
.header-line{
    margin-bottom: 30px;
    padding: 30px 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.table-price{
    width: 100%;
    border-collapse: collapse;
    border-radius: 3px;
    overflow: hidden;
}
.table-price td:last-child{
    text-align: right;
}
.table-price .table-head{
    padding: 15px 18px 10px;
    color: #fff;
    font: 700 14px/24px "Roboto Slab";
    background-color: #1f1f56;
}
.table-head:first-child{
    border-radius: 3px 0 0 0;
}
.table-head:last-child{
    border-radius: 0 3px 0 0;
}
.last td:last-child{
    border-radius: 0 0 3px 0;
}
.last td:first-child{
    border-radius: 0 0 0 3px;
}
.table-price td{
    padding: 15px 18px 10px;
    color: #666;
    font: 14px/24px Arial;
    border-collapse: separate;
    border-top: 1px solid #cdcddd;
    background-color: #e4e4ec;
}
tbody tr:hover td{
    color: #fff;
    background-color: #fd8300;
}
tbody tr:first-child td{
    border-top: none;
}
.two_sections{
    padding-bottom: 45px;
}
.price-heading{
    color: #24242b;
    font: 700 24px/24px "Roboto Slab";
}
.fullwidth{
    max-width: 100%;
    width: 100%;
}
.main-text span{
    font: 13px/21px Arial;
}
